.card-body .form-group label{
    font-size: 1.2em;
}

.custom-login, .custom-register, .card .card-body .btn-auth{
    background: #000529; 
	background: -moz-linear-gradient(left, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
    color: #fff;
    padding: 2px;
   
}

.card-header{
    font-size: 2em;
}

.custom-radio{
    font-size: 2em;
    line-height: 5em;
}

input[type=radio] {
    width: 25px;
    height: 1.4em;
}